/* Import Google Font Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #000; /* Texte noir par défaut */
  background-color: #fff; /* Fond blanc par défaut */
  overflow-x: hidden;
}

/* Structure globale */
#root {
  min-height: 100vh;
  display: flex;
  max-width: 1280px;
  text-align: center;
}

main {
  flex: 1; /* Prend toute la place disponible */
}

/* Header & Footer */
header, footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

/* Titres et balises <strong> */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}



/* Wrapper principal */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Liens */
a {
  font-weight: 500;
  color: #0d6efd;
  text-decoration: inherit;
}
a:hover {
  color: #6f42c1;
}

/* Boutons globaux */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media Queries globales */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #6f42c1;
  }
  button {
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  body, html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body, html {
    font-size: 18px;
  }
}


/* Responsive mobile */
@media (max-width: 480px) {
  .about-wrapper {
    max-width: 100%;
    padding: 15px;
    box-sizing: border-box; /* IMPORTANT */
  }
}